{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if articles is defined %}
                <div class="col-lg-8 order-lg-0 order-2">
                    {% for article in articles %}
                        <div class="row">
                            {% if 'media_content' in article %}
                                <div class="col-md-4 mb-4">
                                    <img class="image-post"
                                         src="{{ article['media_content']['url'] }}"
                                         alt="">
                                </div>
                            {% endif %}
                            <div class="col-md-8 mb-4 text-start card">
                                {% if 'published' in article %}
                                    <div class="d-flex align-items-center mt-2">
                                        <span class="text-muted">{{ article['published'] }}</span>
                                    </div>
                                {% endif %}
                                <div>
                                    <p class="text-capitalize fs5 my-3 fw-bolder">
                                        {{ article['title'] }}
                                    </p>
                                    {% if 'summary' in article %}
                                        <p class="text-muted"> {{ article['summary'] }} <a href="{{ article['link'] }}">Continue reading...</a></p>
                                    {% else %}
                                         <p class="text-muted"><a href="{{ article['link'] }}">Continue reading...</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="mb-3 text-center">
                    <h5>There's nothing here. Add some feeds!!!</h5>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}