{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="text-center mb-5">
            <img src="{{ url_for('static', filename='feed50_logo.png') }}" class="rounded" width="200" height="200"
                 alt="Feed50 logo">
        </div>
        <div class="text-center mb-5">
            <p class="text-secondary h4">Sign In</p>
        </div>
        <div class="col-sm-3 text-start">
            <form method="post" class="needs-validation" novalidate>
                <div class="mb-3 form-outline">
                    <input type="text" autocomplete="off" class="form-control" id="username" name="username" placeholder="Enter Username"
                           required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Enter Password" required>
                    <div class="invalid-feedback">
                        Please type a password.
                    </div>
                </div>
                <div class="text-center mt-4 d-grid gap-2">
                    <button type="submit" class="btn btn-dark">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}